<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Markdown Editor</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <nav>
        <h2>LEO TEXT EDITOR</h2>
    </nav>
    <section class="row">
        <textarea class="col-md-6 full-height" id="pad">Start typing here...</textarea>
        <div class="col-md-6 full-height" id="markdown"></div>
    </section>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="script.js"></script>
</body>
</html>